.personal-details {
    li {
        display: flex;
    }
    strong {
        width: 90px;
    }
}

.personal-details-more {
    li {
        display: flex;
    }
    strong {
        width: 80px;
    }
}
