.personal-details {
    li {
        display: flex;
    }
    strong {
        width: 90px;
    }
}

.personal-details-more {
    li {
        display: flex;
    }
    strong {
        width: 90px;
    }
}

@media screen and (max-width: 540px) {
    .personal-details {
        margin-bottom: 0;
    }
}
