<!-- START: Modal content for Login -->
<div id="myModal-login" class="modal login-signup">
    <div class="modal-content">

        <div class="myModal-custom-content">

            <div class="main">  
                <div id="close-modal-login" class="close-modal" data-dismiss="modal">
                    <i class="fas fa-times icon-close"></i>
                </div>

                <iframe  [src]="url | safe"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- END: Modal content -->