<!-- ======= Gallery Section ======= -->
<section id="gallery" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Gallery</h2>
            <p>Here is a list of few of my talents on display.</p>
        </div>


        <div class="gallery-outer">
            <div class="gallery-inner">

                <div class="gallery-item" *ngFor="let item of videos">
                    <iframe  [src]="item.url | safe"></iframe>
                    <div class="iframe-mask" (click)="openModal(item)"></div>
                    <div class="gallery-item-body">
                        <h6 class="title">{{ item.title }}</h6>
                        <p class="description">{{ item.description }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Gallery Section -->