<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Here is a list of few of my talents on display. You may also watch them on
                <a [href]="youtubeChannelLink" target="_blank">my youtube channel</a>.
            </p>
        </div>


        <div class="portfolio-outer">
            <div class="portfolio-inner">

                <div class="portfolio-item" *ngFor="let item of videos">
                    <iframe [src]="item.url | safe"></iframe>
                    <div class="iframe-mask" (click)="showContent(item)"></div>
                    <div class="portfolio-item-body">
                        <h6 class="title">{{ item.title }}</h6>
                        <p class="description">{{ item.description }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->

<!-- Modal -->
<ng-template #myModal let-modal>
    <div id="myModal">
        <div class="close-button-div" (click)="modal.dismiss('Cross click')">
            <img src="assets/img/close-icon.svg" />
        </div>
        <div class="modal-content">
            <div class="myModal-custom-content">
                <div class="title-div">
                    {{ clickedVideoHeading }}
                </div>
                <div class="content-div">
                    <iframe [src]="clickedVideoUrl | safe"></iframe>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- END: Modal -->