<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="/">Nishant Kumar</a></h1>
      <div class="social-links mt-3 text-center">
        <a [href]="socialNetworkLinks.twitter" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a [href]="socialNetworkLinks.facebook" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <a [href]="socialNetworkLinks.instagram" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
        <a [href]="socialNetworkLinks.linkedIn" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <!-- Nav Menu -->
    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
        <!-- <li><a href="#gallery"><i class="bx bx-server"></i> Gallery</a></li> -->
        <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

      </ul>
    </nav>
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Nishant Kumar</h1>
    <p>I'm <span class="typed-skills"></span></p>
  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <about></about>

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Profile</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit.</p> -->
          <ul>
            <li>Skilled in MEAN stack (MongoDB, Express, Angular 8 & Node.js).</li>
            <li>Proficient in Front-end Web Design with HTML5, CSS3, JavaScript &Bootstrap.</li>
            <li>Good knowledge of C, C++ programming & Core Java.</li>
            <li>Strong in Algorithmic Coding</li>
            <li>Secured <span style="text-decoration: underline;">AIR 1721</span> in GATE 2019 CS exam.</li>
            <li>Passionate about script writing, direction and acting in films.</li>
        </ul>
      </div>

      <div class="row skills-content">
        
      </div>

    </div>
  </section>
  <!-- End Skills Section -->

  <!-- ======= Resume Section ======= -->
  <resume></resume>

  <!-- ======= Portfolio Section ======= -->
  <portfolio></portfolio>

  <!-- ======= Gallery Section ======= -->
  <gallery></gallery>

  <!-- ======= Contact Section ======= -->
  <contact></contact>

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Nishant Kumar</span></strong>
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
      Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
    </div>
  </div>
</footer>
<!-- End  Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


<router-outlet></router-outlet>